.main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
}

.grouped-items {
    display: flex;
    flex-direction: row;
}

.grouped-items * {
    margin-left: 1rem;
    margin-right: 1rem;
}

.main-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.main-main img {
    width: 15rem;
    height: auto;
}

.main-footer {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}